
/* GENERAL RULES FOR THE WHOLE PAGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
/* -------------------------CLASSES USED MULTIPLE TIMES---------------------- */

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* -----------------------------------MAIN----------------------------------- */

.containerDanny {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* BUTTONS AND TARGETS */

#target1,
#target2 {
  position: absolute;
  display:flex;
  flex-direction: column;
}

.containerDanny div:nth-child(1) {
  align-self: center;
  position: relative;
}

#pressBTN1 {
  margin-right: 259px;
}

#pressBTN2 {
  margin-left: 259px;
}


/* BUTTONS */
.containerDanny div:nth-child(1) button {
  width: 200px;
  height: 50px;
  background-color: navy;
  border: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.box1,
.box2 {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid darkred;
  font-weight: bold;
}

.box2 {
  position: relative;
  left: 873px;
  color: blue;
  font-size: 2rem;
}

.bg-lime {
  background-color: lime;
}

.bg-silver {
  background-color: silver;
}

.bg-gold {
  background-color: gold;
}

/* -------------------------------------------------------------------------- */

/* EMAILS */
.containerDanny div:nth-child(2) {
  line-height: 200%;
  font-size: 20px;
  align-self: center;
}

/* DANNY LOGO */
.containerDanny div:nth-child(3) {
  align-self: center;
}

.containerDanny div:nth-child(3) ul li {
  display: inline;
  color: #0065bd;
  font-weight: bolder;
  font-size: 25px;
}

.containerDanny div:nth-child(3) .fa-at {
  animation: gira-la-chiocciola 1s linear infinite;
  color: white;
}

@keyframes gira-la-chiocciola {
  0% {transform: rotate(1turn);}
}
